<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="eyou_test">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import eyou_test urdf file -->
    <xacro:include filename="$(find eyou_test_ros2_control)/urdf/eyou_test.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="eyou_test.ros2_control.xacro" />


    <xacro:eyou_test_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
